
/*===============================
    Font Family
=================================*/
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Roboto', sans-serif;


/*===============================
    Colors
=================================*/
$mainColor:#5c6ac4;
$textColor: #666666;
$grayColor: #eaeaea;
$lightColor: #ffffff;
$blackColor:#222;

/*===============================
    Other Colors
=================================*/
$redColor:#de3618;
$blueColor:#5752d0;
$skyColor:#47c1bf;
$purpleColor:#9c6ade;
$greenColor:#50b83c;

/*===============================
    Fonts Size
=================================*/
$h1:4rem;
$h2:3.4rem;
$h3:2.6rem;
$h4:2.2rem;
$h5:1.8rem;
$h6:1.5rem;
$bodyFontSize:1.4rem;
