/*===============================
    Font Family
=================================*/
/*===============================
    Colors
=================================*/
/*===============================
    Other Colors
=================================*/
/*===============================
    Fonts Size
=================================*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

/* -------- "margin helpers" and "padding helpers"  --------- */
.mt-120 {
  margin-top: -6rem !important; }
  @media (min-width: 992px) {
    .mt-120 {
      margin-top: -12rem !important; } }

.pt-120 {
  padding-top: -6rem !important; }
  @media (min-width: 992px) {
    .pt-120 {
      padding-top: -12rem !important; } }

.mb-120 {
  margin-bottom: -6rem !important; }
  @media (min-width: 992px) {
    .mb-120 {
      margin-bottom: -12rem !important; } }

.pb-120 {
  padding-bottom: -6rem !important; }
  @media (min-width: 992px) {
    .pb-120 {
      padding-bottom: -12rem !important; } }

.ml-120 {
  margin-left: -6rem !important; }
  @media (min-width: 992px) {
    .ml-120 {
      margin-left: -12rem !important; } }

.pl-120 {
  padding-left: -6rem !important; }
  @media (min-width: 992px) {
    .pl-120 {
      padding-left: -12rem !important; } }

.mr-120 {
  margin-right: -6rem !important; }
  @media (min-width: 992px) {
    .mr-120 {
      margin-right: -12rem !important; } }

.pr-120 {
  padding-right: -6rem !important; }
  @media (min-width: 992px) {
    .pr-120 {
      padding-right: -12rem !important; } }

.mt-100 {
  margin-top: -5rem !important; }
  @media (min-width: 992px) {
    .mt-100 {
      margin-top: -10rem !important; } }

.pt-100 {
  padding-top: -5rem !important; }
  @media (min-width: 992px) {
    .pt-100 {
      padding-top: -10rem !important; } }

.mb-100 {
  margin-bottom: -5rem !important; }
  @media (min-width: 992px) {
    .mb-100 {
      margin-bottom: -10rem !important; } }

.pb-100 {
  padding-bottom: -5rem !important; }
  @media (min-width: 992px) {
    .pb-100 {
      padding-bottom: -10rem !important; } }

.ml-100 {
  margin-left: -5rem !important; }
  @media (min-width: 992px) {
    .ml-100 {
      margin-left: -10rem !important; } }

.pl-100 {
  padding-left: -5rem !important; }
  @media (min-width: 992px) {
    .pl-100 {
      padding-left: -10rem !important; } }

.mr-100 {
  margin-right: -5rem !important; }
  @media (min-width: 992px) {
    .mr-100 {
      margin-right: -10rem !important; } }

.pr-100 {
  padding-right: -5rem !important; }
  @media (min-width: 992px) {
    .pr-100 {
      padding-right: -10rem !important; } }

.mt0 {
  margin-top: 0rem !important; }
  @media (min-width: 992px) {
    .mt0 {
      margin-top: 0rem !important; } }

.pt0 {
  padding-top: 0rem !important; }
  @media (min-width: 992px) {
    .pt0 {
      padding-top: 0rem !important; } }

.mb0 {
  margin-bottom: 0rem !important; }
  @media (min-width: 992px) {
    .mb0 {
      margin-bottom: 0rem !important; } }

.pb0 {
  padding-bottom: 0rem !important; }
  @media (min-width: 992px) {
    .pb0 {
      padding-bottom: 0rem !important; } }

.ml0 {
  margin-left: 0rem !important; }
  @media (min-width: 992px) {
    .ml0 {
      margin-left: 0rem !important; } }

.pl0 {
  padding-left: 0rem !important; }
  @media (min-width: 992px) {
    .pl0 {
      padding-left: 0rem !important; } }

.mr0 {
  margin-right: 0rem !important; }
  @media (min-width: 992px) {
    .mr0 {
      margin-right: 0rem !important; } }

.pr0 {
  padding-right: 0rem !important; }
  @media (min-width: 992px) {
    .pr0 {
      padding-right: 0rem !important; } }

.mt5 {
  margin-top: 0.25rem !important; }
  @media (min-width: 992px) {
    .mt5 {
      margin-top: 0.5rem !important; } }

.pt5 {
  padding-top: 0.25rem !important; }
  @media (min-width: 992px) {
    .pt5 {
      padding-top: 0.5rem !important; } }

.mb5 {
  margin-bottom: 0.25rem !important; }
  @media (min-width: 992px) {
    .mb5 {
      margin-bottom: 0.5rem !important; } }

.pb5 {
  padding-bottom: 0.25rem !important; }
  @media (min-width: 992px) {
    .pb5 {
      padding-bottom: 0.5rem !important; } }

.ml5 {
  margin-left: 0.25rem !important; }
  @media (min-width: 992px) {
    .ml5 {
      margin-left: 0.5rem !important; } }

.pl5 {
  padding-left: 0.25rem !important; }
  @media (min-width: 992px) {
    .pl5 {
      padding-left: 0.5rem !important; } }

.mr5 {
  margin-right: 0.25rem !important; }
  @media (min-width: 992px) {
    .mr5 {
      margin-right: 0.5rem !important; } }

.pr5 {
  padding-right: 0.25rem !important; }
  @media (min-width: 992px) {
    .pr5 {
      padding-right: 0.5rem !important; } }

.mt10 {
  margin-top: 0.5rem !important; }
  @media (min-width: 992px) {
    .mt10 {
      margin-top: 1rem !important; } }

.pt10 {
  padding-top: 0.5rem !important; }
  @media (min-width: 992px) {
    .pt10 {
      padding-top: 1rem !important; } }

.mb10 {
  margin-bottom: 0.5rem !important; }
  @media (min-width: 992px) {
    .mb10 {
      margin-bottom: 1rem !important; } }

.pb10 {
  padding-bottom: 0.5rem !important; }
  @media (min-width: 992px) {
    .pb10 {
      padding-bottom: 1rem !important; } }

.ml10 {
  margin-left: 0.5rem !important; }
  @media (min-width: 992px) {
    .ml10 {
      margin-left: 1rem !important; } }

.pl10 {
  padding-left: 0.5rem !important; }
  @media (min-width: 992px) {
    .pl10 {
      padding-left: 1rem !important; } }

.mr10 {
  margin-right: 0.5rem !important; }
  @media (min-width: 992px) {
    .mr10 {
      margin-right: 1rem !important; } }

.pr10 {
  padding-right: 0.5rem !important; }
  @media (min-width: 992px) {
    .pr10 {
      padding-right: 1rem !important; } }

.mt15 {
  margin-top: 0.75rem !important; }
  @media (min-width: 992px) {
    .mt15 {
      margin-top: 1.5rem !important; } }

.pt15 {
  padding-top: 0.75rem !important; }
  @media (min-width: 992px) {
    .pt15 {
      padding-top: 1.5rem !important; } }

.mb15 {
  margin-bottom: 0.75rem !important; }
  @media (min-width: 992px) {
    .mb15 {
      margin-bottom: 1.5rem !important; } }

.pb15 {
  padding-bottom: 0.75rem !important; }
  @media (min-width: 992px) {
    .pb15 {
      padding-bottom: 1.5rem !important; } }

.ml15 {
  margin-left: 0.75rem !important; }
  @media (min-width: 992px) {
    .ml15 {
      margin-left: 1.5rem !important; } }

.pl15 {
  padding-left: 0.75rem !important; }
  @media (min-width: 992px) {
    .pl15 {
      padding-left: 1.5rem !important; } }

.mr15 {
  margin-right: 0.75rem !important; }
  @media (min-width: 992px) {
    .mr15 {
      margin-right: 1.5rem !important; } }

.pr15 {
  padding-right: 0.75rem !important; }
  @media (min-width: 992px) {
    .pr15 {
      padding-right: 1.5rem !important; } }

.mt20 {
  margin-top: 1rem !important; }
  @media (min-width: 992px) {
    .mt20 {
      margin-top: 2rem !important; } }

.pt20 {
  padding-top: 1rem !important; }
  @media (min-width: 992px) {
    .pt20 {
      padding-top: 2rem !important; } }

.mb20 {
  margin-bottom: 1rem !important; }
  @media (min-width: 992px) {
    .mb20 {
      margin-bottom: 2rem !important; } }

.pb20 {
  padding-bottom: 1rem !important; }
  @media (min-width: 992px) {
    .pb20 {
      padding-bottom: 2rem !important; } }

.ml20 {
  margin-left: 1rem !important; }
  @media (min-width: 992px) {
    .ml20 {
      margin-left: 2rem !important; } }

.pl20 {
  padding-left: 1rem !important; }
  @media (min-width: 992px) {
    .pl20 {
      padding-left: 2rem !important; } }

.mr20 {
  margin-right: 1rem !important; }
  @media (min-width: 992px) {
    .mr20 {
      margin-right: 2rem !important; } }

.pr20 {
  padding-right: 1rem !important; }
  @media (min-width: 992px) {
    .pr20 {
      padding-right: 2rem !important; } }

.mt25 {
  margin-top: 1.25rem !important; }
  @media (min-width: 992px) {
    .mt25 {
      margin-top: 2.5rem !important; } }

.pt25 {
  padding-top: 1.25rem !important; }
  @media (min-width: 992px) {
    .pt25 {
      padding-top: 2.5rem !important; } }

.mb25 {
  margin-bottom: 1.25rem !important; }
  @media (min-width: 992px) {
    .mb25 {
      margin-bottom: 2.5rem !important; } }

.pb25 {
  padding-bottom: 1.25rem !important; }
  @media (min-width: 992px) {
    .pb25 {
      padding-bottom: 2.5rem !important; } }

.ml25 {
  margin-left: 1.25rem !important; }
  @media (min-width: 992px) {
    .ml25 {
      margin-left: 2.5rem !important; } }

.pl25 {
  padding-left: 1.25rem !important; }
  @media (min-width: 992px) {
    .pl25 {
      padding-left: 2.5rem !important; } }

.mr25 {
  margin-right: 1.25rem !important; }
  @media (min-width: 992px) {
    .mr25 {
      margin-right: 2.5rem !important; } }

.pr25 {
  padding-right: 1.25rem !important; }
  @media (min-width: 992px) {
    .pr25 {
      padding-right: 2.5rem !important; } }

.mt30 {
  margin-top: 1.5rem !important; }
  @media (min-width: 992px) {
    .mt30 {
      margin-top: 3rem !important; } }

.pt30 {
  padding-top: 1.5rem !important; }
  @media (min-width: 992px) {
    .pt30 {
      padding-top: 3rem !important; } }

.mb30 {
  margin-bottom: 1.5rem !important; }
  @media (min-width: 992px) {
    .mb30 {
      margin-bottom: 3rem !important; } }

.pb30 {
  padding-bottom: 1.5rem !important; }
  @media (min-width: 992px) {
    .pb30 {
      padding-bottom: 3rem !important; } }

.ml30 {
  margin-left: 1.5rem !important; }
  @media (min-width: 992px) {
    .ml30 {
      margin-left: 3rem !important; } }

.pl30 {
  padding-left: 1.5rem !important; }
  @media (min-width: 992px) {
    .pl30 {
      padding-left: 3rem !important; } }

.mr30 {
  margin-right: 1.5rem !important; }
  @media (min-width: 992px) {
    .mr30 {
      margin-right: 3rem !important; } }

.pr30 {
  padding-right: 1.5rem !important; }
  @media (min-width: 992px) {
    .pr30 {
      padding-right: 3rem !important; } }

.mt35 {
  margin-top: 1.75rem !important; }
  @media (min-width: 992px) {
    .mt35 {
      margin-top: 3.5rem !important; } }

.pt35 {
  padding-top: 1.75rem !important; }
  @media (min-width: 992px) {
    .pt35 {
      padding-top: 3.5rem !important; } }

.mb35 {
  margin-bottom: 1.75rem !important; }
  @media (min-width: 992px) {
    .mb35 {
      margin-bottom: 3.5rem !important; } }

.pb35 {
  padding-bottom: 1.75rem !important; }
  @media (min-width: 992px) {
    .pb35 {
      padding-bottom: 3.5rem !important; } }

.ml35 {
  margin-left: 1.75rem !important; }
  @media (min-width: 992px) {
    .ml35 {
      margin-left: 3.5rem !important; } }

.pl35 {
  padding-left: 1.75rem !important; }
  @media (min-width: 992px) {
    .pl35 {
      padding-left: 3.5rem !important; } }

.mr35 {
  margin-right: 1.75rem !important; }
  @media (min-width: 992px) {
    .mr35 {
      margin-right: 3.5rem !important; } }

.pr35 {
  padding-right: 1.75rem !important; }
  @media (min-width: 992px) {
    .pr35 {
      padding-right: 3.5rem !important; } }

.mt40 {
  margin-top: 2rem !important; }
  @media (min-width: 992px) {
    .mt40 {
      margin-top: 4rem !important; } }

.pt40 {
  padding-top: 2rem !important; }
  @media (min-width: 992px) {
    .pt40 {
      padding-top: 4rem !important; } }

.mb40 {
  margin-bottom: 2rem !important; }
  @media (min-width: 992px) {
    .mb40 {
      margin-bottom: 4rem !important; } }

.pb40 {
  padding-bottom: 2rem !important; }
  @media (min-width: 992px) {
    .pb40 {
      padding-bottom: 4rem !important; } }

.ml40 {
  margin-left: 2rem !important; }
  @media (min-width: 992px) {
    .ml40 {
      margin-left: 4rem !important; } }

.pl40 {
  padding-left: 2rem !important; }
  @media (min-width: 992px) {
    .pl40 {
      padding-left: 4rem !important; } }

.mr40 {
  margin-right: 2rem !important; }
  @media (min-width: 992px) {
    .mr40 {
      margin-right: 4rem !important; } }

.pr40 {
  padding-right: 2rem !important; }
  @media (min-width: 992px) {
    .pr40 {
      padding-right: 4rem !important; } }

.mt45 {
  margin-top: 2.25rem !important; }
  @media (min-width: 992px) {
    .mt45 {
      margin-top: 4.5rem !important; } }

.pt45 {
  padding-top: 2.25rem !important; }
  @media (min-width: 992px) {
    .pt45 {
      padding-top: 4.5rem !important; } }

.mb45 {
  margin-bottom: 2.25rem !important; }
  @media (min-width: 992px) {
    .mb45 {
      margin-bottom: 4.5rem !important; } }

.pb45 {
  padding-bottom: 2.25rem !important; }
  @media (min-width: 992px) {
    .pb45 {
      padding-bottom: 4.5rem !important; } }

.ml45 {
  margin-left: 2.25rem !important; }
  @media (min-width: 992px) {
    .ml45 {
      margin-left: 4.5rem !important; } }

.pl45 {
  padding-left: 2.25rem !important; }
  @media (min-width: 992px) {
    .pl45 {
      padding-left: 4.5rem !important; } }

.mr45 {
  margin-right: 2.25rem !important; }
  @media (min-width: 992px) {
    .mr45 {
      margin-right: 4.5rem !important; } }

.pr45 {
  padding-right: 2.25rem !important; }
  @media (min-width: 992px) {
    .pr45 {
      padding-right: 4.5rem !important; } }

.mt50 {
  margin-top: 2.5rem !important; }
  @media (min-width: 992px) {
    .mt50 {
      margin-top: 5rem !important; } }

.pt50 {
  padding-top: 2.5rem !important; }
  @media (min-width: 992px) {
    .pt50 {
      padding-top: 5rem !important; } }

.mb50 {
  margin-bottom: 2.5rem !important; }
  @media (min-width: 992px) {
    .mb50 {
      margin-bottom: 5rem !important; } }

.pb50 {
  padding-bottom: 2.5rem !important; }
  @media (min-width: 992px) {
    .pb50 {
      padding-bottom: 5rem !important; } }

.ml50 {
  margin-left: 2.5rem !important; }
  @media (min-width: 992px) {
    .ml50 {
      margin-left: 5rem !important; } }

.pl50 {
  padding-left: 2.5rem !important; }
  @media (min-width: 992px) {
    .pl50 {
      padding-left: 5rem !important; } }

.mr50 {
  margin-right: 2.5rem !important; }
  @media (min-width: 992px) {
    .mr50 {
      margin-right: 5rem !important; } }

.pr50 {
  padding-right: 2.5rem !important; }
  @media (min-width: 992px) {
    .pr50 {
      padding-right: 5rem !important; } }

.mt55 {
  margin-top: 2.75rem !important; }
  @media (min-width: 992px) {
    .mt55 {
      margin-top: 5.5rem !important; } }

.pt55 {
  padding-top: 2.75rem !important; }
  @media (min-width: 992px) {
    .pt55 {
      padding-top: 5.5rem !important; } }

.mb55 {
  margin-bottom: 2.75rem !important; }
  @media (min-width: 992px) {
    .mb55 {
      margin-bottom: 5.5rem !important; } }

.pb55 {
  padding-bottom: 2.75rem !important; }
  @media (min-width: 992px) {
    .pb55 {
      padding-bottom: 5.5rem !important; } }

.ml55 {
  margin-left: 2.75rem !important; }
  @media (min-width: 992px) {
    .ml55 {
      margin-left: 5.5rem !important; } }

.pl55 {
  padding-left: 2.75rem !important; }
  @media (min-width: 992px) {
    .pl55 {
      padding-left: 5.5rem !important; } }

.mr55 {
  margin-right: 2.75rem !important; }
  @media (min-width: 992px) {
    .mr55 {
      margin-right: 5.5rem !important; } }

.pr55 {
  padding-right: 2.75rem !important; }
  @media (min-width: 992px) {
    .pr55 {
      padding-right: 5.5rem !important; } }

.mt60 {
  margin-top: 3rem !important; }
  @media (min-width: 992px) {
    .mt60 {
      margin-top: 6rem !important; } }

.pt60 {
  padding-top: 3rem !important; }
  @media (min-width: 992px) {
    .pt60 {
      padding-top: 6rem !important; } }

.mb60 {
  margin-bottom: 3rem !important; }
  @media (min-width: 992px) {
    .mb60 {
      margin-bottom: 6rem !important; } }

.pb60 {
  padding-bottom: 3rem !important; }
  @media (min-width: 992px) {
    .pb60 {
      padding-bottom: 6rem !important; } }

.ml60 {
  margin-left: 3rem !important; }
  @media (min-width: 992px) {
    .ml60 {
      margin-left: 6rem !important; } }

.pl60 {
  padding-left: 3rem !important; }
  @media (min-width: 992px) {
    .pl60 {
      padding-left: 6rem !important; } }

.mr60 {
  margin-right: 3rem !important; }
  @media (min-width: 992px) {
    .mr60 {
      margin-right: 6rem !important; } }

.pr60 {
  padding-right: 3rem !important; }
  @media (min-width: 992px) {
    .pr60 {
      padding-right: 6rem !important; } }

.mt65 {
  margin-top: 3.25rem !important; }
  @media (min-width: 992px) {
    .mt65 {
      margin-top: 6.5rem !important; } }

.pt65 {
  padding-top: 3.25rem !important; }
  @media (min-width: 992px) {
    .pt65 {
      padding-top: 6.5rem !important; } }

.mb65 {
  margin-bottom: 3.25rem !important; }
  @media (min-width: 992px) {
    .mb65 {
      margin-bottom: 6.5rem !important; } }

.pb65 {
  padding-bottom: 3.25rem !important; }
  @media (min-width: 992px) {
    .pb65 {
      padding-bottom: 6.5rem !important; } }

.ml65 {
  margin-left: 3.25rem !important; }
  @media (min-width: 992px) {
    .ml65 {
      margin-left: 6.5rem !important; } }

.pl65 {
  padding-left: 3.25rem !important; }
  @media (min-width: 992px) {
    .pl65 {
      padding-left: 6.5rem !important; } }

.mr65 {
  margin-right: 3.25rem !important; }
  @media (min-width: 992px) {
    .mr65 {
      margin-right: 6.5rem !important; } }

.pr65 {
  padding-right: 3.25rem !important; }
  @media (min-width: 992px) {
    .pr65 {
      padding-right: 6.5rem !important; } }

.mt70 {
  margin-top: 3.5rem !important; }
  @media (min-width: 992px) {
    .mt70 {
      margin-top: 7rem !important; } }

.pt70 {
  padding-top: 3.5rem !important; }
  @media (min-width: 992px) {
    .pt70 {
      padding-top: 7rem !important; } }

.mb70 {
  margin-bottom: 3.5rem !important; }
  @media (min-width: 992px) {
    .mb70 {
      margin-bottom: 7rem !important; } }

.pb70 {
  padding-bottom: 3.5rem !important; }
  @media (min-width: 992px) {
    .pb70 {
      padding-bottom: 7rem !important; } }

.ml70 {
  margin-left: 3.5rem !important; }
  @media (min-width: 992px) {
    .ml70 {
      margin-left: 7rem !important; } }

.pl70 {
  padding-left: 3.5rem !important; }
  @media (min-width: 992px) {
    .pl70 {
      padding-left: 7rem !important; } }

.mr70 {
  margin-right: 3.5rem !important; }
  @media (min-width: 992px) {
    .mr70 {
      margin-right: 7rem !important; } }

.pr70 {
  padding-right: 3.5rem !important; }
  @media (min-width: 992px) {
    .pr70 {
      padding-right: 7rem !important; } }

.mt75 {
  margin-top: 3.75rem !important; }
  @media (min-width: 992px) {
    .mt75 {
      margin-top: 7.5rem !important; } }

.pt75 {
  padding-top: 3.75rem !important; }
  @media (min-width: 992px) {
    .pt75 {
      padding-top: 7.5rem !important; } }

.mb75 {
  margin-bottom: 3.75rem !important; }
  @media (min-width: 992px) {
    .mb75 {
      margin-bottom: 7.5rem !important; } }

.pb75 {
  padding-bottom: 3.75rem !important; }
  @media (min-width: 992px) {
    .pb75 {
      padding-bottom: 7.5rem !important; } }

.ml75 {
  margin-left: 3.75rem !important; }
  @media (min-width: 992px) {
    .ml75 {
      margin-left: 7.5rem !important; } }

.pl75 {
  padding-left: 3.75rem !important; }
  @media (min-width: 992px) {
    .pl75 {
      padding-left: 7.5rem !important; } }

.mr75 {
  margin-right: 3.75rem !important; }
  @media (min-width: 992px) {
    .mr75 {
      margin-right: 7.5rem !important; } }

.pr75 {
  padding-right: 3.75rem !important; }
  @media (min-width: 992px) {
    .pr75 {
      padding-right: 7.5rem !important; } }

.mt80 {
  margin-top: 4rem !important; }
  @media (min-width: 992px) {
    .mt80 {
      margin-top: 8rem !important; } }

.pt80 {
  padding-top: 4rem !important; }
  @media (min-width: 992px) {
    .pt80 {
      padding-top: 8rem !important; } }

.mb80 {
  margin-bottom: 4rem !important; }
  @media (min-width: 992px) {
    .mb80 {
      margin-bottom: 8rem !important; } }

.pb80 {
  padding-bottom: 4rem !important; }
  @media (min-width: 992px) {
    .pb80 {
      padding-bottom: 8rem !important; } }

.ml80 {
  margin-left: 4rem !important; }
  @media (min-width: 992px) {
    .ml80 {
      margin-left: 8rem !important; } }

.pl80 {
  padding-left: 4rem !important; }
  @media (min-width: 992px) {
    .pl80 {
      padding-left: 8rem !important; } }

.mr80 {
  margin-right: 4rem !important; }
  @media (min-width: 992px) {
    .mr80 {
      margin-right: 8rem !important; } }

.pr80 {
  padding-right: 4rem !important; }
  @media (min-width: 992px) {
    .pr80 {
      padding-right: 8rem !important; } }

.mt85 {
  margin-top: 4.25rem !important; }
  @media (min-width: 992px) {
    .mt85 {
      margin-top: 8.5rem !important; } }

.pt85 {
  padding-top: 4.25rem !important; }
  @media (min-width: 992px) {
    .pt85 {
      padding-top: 8.5rem !important; } }

.mb85 {
  margin-bottom: 4.25rem !important; }
  @media (min-width: 992px) {
    .mb85 {
      margin-bottom: 8.5rem !important; } }

.pb85 {
  padding-bottom: 4.25rem !important; }
  @media (min-width: 992px) {
    .pb85 {
      padding-bottom: 8.5rem !important; } }

.ml85 {
  margin-left: 4.25rem !important; }
  @media (min-width: 992px) {
    .ml85 {
      margin-left: 8.5rem !important; } }

.pl85 {
  padding-left: 4.25rem !important; }
  @media (min-width: 992px) {
    .pl85 {
      padding-left: 8.5rem !important; } }

.mr85 {
  margin-right: 4.25rem !important; }
  @media (min-width: 992px) {
    .mr85 {
      margin-right: 8.5rem !important; } }

.pr85 {
  padding-right: 4.25rem !important; }
  @media (min-width: 992px) {
    .pr85 {
      padding-right: 8.5rem !important; } }

.mt90 {
  margin-top: 4.5rem !important; }
  @media (min-width: 992px) {
    .mt90 {
      margin-top: 9rem !important; } }

.pt90 {
  padding-top: 4.5rem !important; }
  @media (min-width: 992px) {
    .pt90 {
      padding-top: 9rem !important; } }

.mb90 {
  margin-bottom: 4.5rem !important; }
  @media (min-width: 992px) {
    .mb90 {
      margin-bottom: 9rem !important; } }

.pb90 {
  padding-bottom: 4.5rem !important; }
  @media (min-width: 992px) {
    .pb90 {
      padding-bottom: 9rem !important; } }

.ml90 {
  margin-left: 4.5rem !important; }
  @media (min-width: 992px) {
    .ml90 {
      margin-left: 9rem !important; } }

.pl90 {
  padding-left: 4.5rem !important; }
  @media (min-width: 992px) {
    .pl90 {
      padding-left: 9rem !important; } }

.mr90 {
  margin-right: 4.5rem !important; }
  @media (min-width: 992px) {
    .mr90 {
      margin-right: 9rem !important; } }

.pr90 {
  padding-right: 4.5rem !important; }
  @media (min-width: 992px) {
    .pr90 {
      padding-right: 9rem !important; } }

.mt95 {
  margin-top: 4.75rem !important; }
  @media (min-width: 992px) {
    .mt95 {
      margin-top: 9.5rem !important; } }

.pt95 {
  padding-top: 4.75rem !important; }
  @media (min-width: 992px) {
    .pt95 {
      padding-top: 9.5rem !important; } }

.mb95 {
  margin-bottom: 4.75rem !important; }
  @media (min-width: 992px) {
    .mb95 {
      margin-bottom: 9.5rem !important; } }

.pb95 {
  padding-bottom: 4.75rem !important; }
  @media (min-width: 992px) {
    .pb95 {
      padding-bottom: 9.5rem !important; } }

.ml95 {
  margin-left: 4.75rem !important; }
  @media (min-width: 992px) {
    .ml95 {
      margin-left: 9.5rem !important; } }

.pl95 {
  padding-left: 4.75rem !important; }
  @media (min-width: 992px) {
    .pl95 {
      padding-left: 9.5rem !important; } }

.mr95 {
  margin-right: 4.75rem !important; }
  @media (min-width: 992px) {
    .mr95 {
      margin-right: 9.5rem !important; } }

.pr95 {
  padding-right: 4.75rem !important; }
  @media (min-width: 992px) {
    .pr95 {
      padding-right: 9.5rem !important; } }

.mt100 {
  margin-top: 5rem !important; }
  @media (min-width: 992px) {
    .mt100 {
      margin-top: 10rem !important; } }

.pt100 {
  padding-top: 5rem !important; }
  @media (min-width: 992px) {
    .pt100 {
      padding-top: 10rem !important; } }

.mb100 {
  margin-bottom: 5rem !important; }
  @media (min-width: 992px) {
    .mb100 {
      margin-bottom: 10rem !important; } }

.pb100 {
  padding-bottom: 5rem !important; }
  @media (min-width: 992px) {
    .pb100 {
      padding-bottom: 10rem !important; } }

.ml100 {
  margin-left: 5rem !important; }
  @media (min-width: 992px) {
    .ml100 {
      margin-left: 10rem !important; } }

.pl100 {
  padding-left: 5rem !important; }
  @media (min-width: 992px) {
    .pl100 {
      padding-left: 10rem !important; } }

.mr100 {
  margin-right: 5rem !important; }
  @media (min-width: 992px) {
    .mr100 {
      margin-right: 10rem !important; } }

.pr100 {
  padding-right: 5rem !important; }
  @media (min-width: 992px) {
    .pr100 {
      padding-right: 10rem !important; } }

.mt120 {
  margin-top: 6rem !important; }
  @media (min-width: 992px) {
    .mt120 {
      margin-top: 12rem !important; } }

.pt120 {
  padding-top: 6rem !important; }
  @media (min-width: 992px) {
    .pt120 {
      padding-top: 12rem !important; } }

.mb120 {
  margin-bottom: 6rem !important; }
  @media (min-width: 992px) {
    .mb120 {
      margin-bottom: 12rem !important; } }

.pb120 {
  padding-bottom: 6rem !important; }
  @media (min-width: 992px) {
    .pb120 {
      padding-bottom: 12rem !important; } }

.ml120 {
  margin-left: 6rem !important; }
  @media (min-width: 992px) {
    .ml120 {
      margin-left: 12rem !important; } }

.pl120 {
  padding-left: 6rem !important; }
  @media (min-width: 992px) {
    .pl120 {
      padding-left: 12rem !important; } }

.mr120 {
  margin-right: 6rem !important; }
  @media (min-width: 992px) {
    .mr120 {
      margin-right: 12rem !important; } }

.pr120 {
  padding-right: 6rem !important; }
  @media (min-width: 992px) {
    .pr120 {
      padding-right: 12rem !important; } }

.mt-lg-30 {
  margin-top: 3rem; }
  @media (min-width: 768px) {
    .mt-lg-30 {
      margin-top: -3rem; } }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  color: #666666;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: #222;
  font-weight: 400;
  margin-bottom: 1.5rem; }

h1,
.h1 {
  font-size: 4rem; }

h2,
.h2 {
  font-size: 3.4rem; }

h3,
.h3 {
  font-size: 2.6rem; }

h4,
.h4 {
  font-size: 2.2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.5rem; }

p {
  margin-bottom: 1.5rem; }

.mi-header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 9;
  -webkit-box-shadow: 0 1rem 1rem rgba(34, 34, 34, 0.01);
          box-shadow: 0 1rem 1rem rgba(34, 34, 34, 0.01); }
  .mi-header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 7rem; }
  .mi-header__inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mi-header__addons {
    margin-left: 4rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mi-header__addons .mi-btn {
      font-size: 14px;
      font-weight: 500; }
  .mi-header__nav {
    height: 100%;
    display: none; }
    @media (min-width: 992px) {
      .mi-header__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .mi-header__logo {
    max-width: 4.7rem;
    margin-right: 4rem; }
  .mi-header__list {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .mi-header__item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-right: 3.5rem; }
    .mi-header__item:last-child {
      margin-right: 0; }
  .mi-header__link {
    font-size: 1.4rem;
    font-weight: 300;
    color: #666666;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    .mi-header__link:hover {
      color: #222;
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s; }
  @media (min-width: 992px) {
    .mi-header {
      position: relative;
      -webkit-box-shadow: 0 0 0;
              box-shadow: 0 0 0; } }

.mi-menu-btn {
  position: relative;
  height: 2.6rem;
  width: 2.6rem;
  margin-left: 2rem; }
  @media (min-width: 992px) {
    .mi-menu-btn {
      display: none; } }
  .mi-menu-btn span {
    display: block;
    position: absolute;
    height: 3px;
    background-color: #222;
    border-radius: 5px;
    right: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    .mi-menu-btn span:first-child {
      top: 0;
      width: 66%; }
    .mi-menu-btn span:nth-child(2) {
      top: 0.966rem;
      width: 100%; }
    .mi-menu-btn span:last-child {
      top: 1.933rem;
      width: 33%; }
  .mi-menu-btn.active span {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .mi-menu-btn.active span:first-child {
    width: 100%;
    -webkit-transform: rotate(-44deg);
            transform: rotate(-44deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right; }
  .mi-menu-btn.active span:nth-child(2) {
    width: 0; }
  .mi-menu-btn.active span:last-child {
    width: 100%;
    -webkit-transform: rotate(44deg);
            transform: rotate(44deg);
    -webkit-transform-origin: top right;
            transform-origin: top right; }

.mi-sidemenu {
  position: fixed;
  z-index: 99;
  top: 7rem;
  bottom: 0;
  right: -100%;
  width: 35rem;
  background-color: #ffffff;
  -webkit-box-shadow: -1rem 1rem 1rem rgba(34, 34, 34, 0.01);
          box-shadow: -1rem 1rem 1rem rgba(34, 34, 34, 0.01);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .mi-sidemenu__nav {
    position: relative; }
  .mi-sidemenu__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .mi-sidemenu__item {
    border-bottom: solid 1px rgba(234, 234, 234, 0.3); }
  .mi-sidemenu__link {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #666666;
    height: 100%;
    display: block;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    .mi-sidemenu__link:hover {
      color: #222;
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s; }
  @media (min-width: 992px) {
    .mi-sidemenu {
      display: none; } }
  .mi-sidemenu.active {
    right: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }

.mi-btn {
  position: relative;
  display: inline-block;
  padding: 0.7142em 2.142em;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: capitalize;
  border: solid 1px rgba(92, 106, 196, 0.02);
  background-color: rgba(92, 106, 196, 0.1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #5c6ac4;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .mi-btn:hover {
    background-color: #5c6ac4;
    color: #ffffff;
    border: solid 1px #5c6ac4;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 7px 2rem rgba(42, 42, 78, 0.1);
            box-shadow: 0 7px 2rem rgba(42, 42, 78, 0.1);
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .mi-btn--rounded {
    border-radius: 2.5em; }
  .mi-btn--primary {
    border: solid 1px #5c6ac4;
    background-color: #5c6ac4;
    color: #ffffff; }
    .mi-btn--primary:hover {
      background-color: #222;
      color: #ffffff;
      border: solid 1px #222; }

.mi-cover {
  position: relative;
  border-bottom: solid 1px #eaeaea;
  margin-top: 7rem; }
  .mi-cover__data {
    position: relative;
    padding: 6rem 0; }
    @media (min-width: 992px) {
      .mi-cover__data {
        padding: 10rem 0; } }
  .mi-cover__title {
    font-size: 3.8rem;
    margin: 0;
    margin-bottom: 0.5rem; }
    @media (min-width: 992px) {
      .mi-cover__title {
        font-size: 6rem; } }
  .mi-cover__lead {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 300; }
  .mi-cover__brands {
    margin-top: 6rem; }
  .mi-cover__img {
    padding: 3rem 0; }
    @media (min-width: 992px) {
      .mi-cover__img {
        padding: 10rem 0; } }
  @media (min-width: 992px) {
    .mi-cover {
      margin-top: 0; } }

.mi-brands {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mi-brands__item {
    padding: 0 1.5rem; }
    .mi-brands__item:first-child {
      padding-left: 0; }

.mi-heading {
  position: relative; }
  .mi-heading__title {
    font-size: 4.2rem;
    margin-bottom: 1.5rem; }
  .mi-heading__desc {
    font-size: 1.6rem; }
    .mi-heading__desc p {
      font-size: inherit;
      margin-bottom: 2.5rem; }
      .mi-heading__desc p:last-child {
        margin-bottom: 1rem; }

.mi-icon-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 4rem 3rem 3.5rem;
  margin-bottom: 3rem;
  border: solid 1px #eaeaea;
  border-radius: 0.5rem;
  overflow: hidden; }
  .mi-icon-box__icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(92, 106, 196, 0.1);
    color: #5c6ac4;
    margin-bottom: 1.5rem; }
  .mi-icon-box__title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem; }
  .mi-icon-box__desc {
    font-size: 1.4rem;
    margin-bottom: 0; }
  .mi-icon-box:last-of-type {
    margin-bottom: 0; }
  .mi-icon-box--blue .mi-icon-box__icon {
    background-color: rgba(87, 82, 208, 0.1);
    color: #5752d0; }
  .mi-icon-box--purple .mi-icon-box__icon {
    background-color: rgba(156, 106, 222, 0.1);
    color: #9c6ade; }
  .mi-icon-box--red .mi-icon-box__icon {
    background-color: rgba(222, 54, 24, 0.1);
    color: #de3618; }
  .mi-icon-box--green .mi-icon-box__icon {
    background-color: rgba(80, 184, 60, 0.1);
    color: #50b83c; }

/*# sourceMappingURL=main.css.map */
